# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.joblib
*.egg-info/
.eggs/
.venv/
.venv*/ 
env/
venv/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# Django
db.sqlite3
media/
staticfiles/
static/
logs/
.env

# Coverage / test
.coverage
htmlcov/
.pytest_cache/

# VSCode / IDE
.vscode/
.idea/

# Build
dist/
build/

data/