name: CI

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          cache: "pip"

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install black==25.9.0 isort==7.0.0 flake8==7.3.0 \
                      pytest==8.4.2 pytest-django==4.11.1 coverage==7.11.0

      - name: Lint
        run: |
          black --check .
          isort --check-only .

      - name: Run tests (pytest)
        env:
          DJANGO_SETTINGS_MODULE: reviews_project.settings
        run: |
          pytest -q

      - name: Coverage report
        if: always()
        run: |
          coverage run -m pytest
          coverage report -m
